<div style="margin-left: 100px; margin-top: 100px; width: 30%;">
	<h1>Voici le gossip numéro <%= @gossip.id %> !</h1>
	<hr />
	<blockquote class="blockquote">
	  <p class="mb-0"><%= @gossip.content %></p>
 		<footer class="blockquote-footer"><%= @gossip.user.first_name %></footer>
	</blockquote>


	<% if @gossip.user_id == params[:registration_id].to_i %>
		<%= link_to "Editer le Gossip", edit_registration_gossip_path(params[:registration_id], @gossip.id), class: "btn btn-success" %>
		<%= link_to "Supprimer le Gossip", registration_gossip_path(params[:registration_id], @gossip.id), class: "btn btn-danger", method: :delete %>
	<% end %>
	

	
	<hr />
	<%= link_to "Voir tous les gossips", registration_gossips_path(params[:registration_id]) %>


</div>
